
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <script src="./home/button.mjs" defer>
    </script>
    <style>
        .about{
            background-color: rgb(3, 3, 3);
            height: 45px;
            width: 120px;
            border-color:  rgb(0, 0, 255);
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font: serif;
            cursor: pointer;
        }
        
        .popular{
            background-color: rgb(3, 3, 3);
            height: 45px;
            width: 120px;
            border-color:  rgb(0, 0, 255);
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-weight: bold;
            color: azure;
            font: serif;
            cursor: pointer;
        }
        .GAME{
            background-color: rgb(3, 3, 3);
            height: 45px;
            width: 120px;
            border-color:  rgb(0, 0, 255);
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font: serif;
            cursor: pointer;
        }
    </style>
    
    <button class="about" title="some bullshit" onclick="
    
    "> <a href="http://localhost:3000/home/about">ABOUT</a></button>
    <button class="popular"><a href="http://localhost:3000/home/popular">POPULAR</a></button>
    <section id="buttons">
    <button id ="GAME" class="GAME">
        GAME
    </button>
    </section>
   <script>
   </script>
</body>
</html>