<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    .myintro{
        color: rgb(0, 0, 0);
        font-size: 40px;
        font: serif;
    }
    </style>
    
    
    
    <p class="my-intro"><b>HELLO MY NAME IS ROLDAN</b><br>
    ALSO KNOWN AS HEXACROWN IN YOUTUBE(<a href="https://www.youtube.com/channel/UC93aDGxaBL7ZzIFDa2X0zHw" type="_blank">CHANNEL</a>)</p>
    <br>
   <%if(GName!='DNE'&&DName!='DNE'){%>
    <p class="GAME"><%=GName%></p><br>
    <p class="DEV"><%=DName%></p>
    <%  }%>
    
</body>
</html>
