
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    </script>
    <style>
        .about{
            background-color: rgb(3, 3, 3);
            height: 45px;
            width: 120px;
            border-color:  rgb(0, 0, 255);
            font: serif;
            cursor: pointer;
        }
        
        .popular{
            background-color: rgb(3, 3, 3);
            height: 45px;
            width: 120px;
            border-color:  rgb(0, 0, 255);
            font-weight: bold;
            color: azure;
            font: serif;
            cursor: pointer;
        }
        .GAME{
            background-color: rgb(3, 3, 3);
            height: 45px;
            width: 120px;
            border-color:  rgb(0, 0, 255);
            font: serif;
            cursor: pointer;
        }
        .heading{
            font-size: 30px;
            font-family: Futura, sans-serif;
            font-style:unset;
            text-align: left;
            background-color: rgb(3, 3, 63);
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
            border-color: black;
        }
    </style>
    <p class="heading">VAPOUR  
        <button class="about" title="some bullshit" >
        <a href="http://localhost:3000/home/about">ABOUT</a></button>
        <button class="popular"><a href="http://localhost:3000/home/popular">POPULAR</a></button>
        <button id ="GAME" class="GAME">GAME</button></p>
  
    
   <script>
   </script>
</body>
</html>